#task_7 {
    color: green;
}
#task_8_1 {
    color: red;
}
#task_8_2 {
    color: yellow;
}
#task_8_3 {
    color: blue;
}
#task_8_4 {
    color: brown;
}
#task_8_5 {
    color: purple;
}
#task_8_6 {
    color: salmon;
}
#task_8_7 {
    color: violet;
}
#task_8_8 {
    color: indianred;
}
#task_8_9 {
    color: hotpink;
}
#task_8_10 {
    color: darkorange;
}
#task_9 {
    font-family: Tahoma;
}
#task_10_1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#task_10_2 {
    font-family: 'Times New Roman', Times, serif;
}
#task_10_3 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#task_10_4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#task_10_5 {
    font-family: Arial, Helvetica, sans-serif;
}
#task_12_1 {
    font-size: 1pc;
}
#task_12_2 {
    font-size: 2pc;
}
#task_12_3 {
    font-size: 3pc;
}
#task_12_4 {
    font-size: 4pc;
}
#task_12_5 {
    font-size: 5pc;
}
#task_12_6 {
    font-size: 6pc ;
}
#task_12_7 {
    font-size: 7pc;
}
#task_12_8 {
    font-size: 8pc;
}
#task_12_9 {
    font-size: 9pc;
}